* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #26272b;
}

img {
    width: 100%;
    height: 29%;
    border: solid 1px #26272b;
}

.down-photo img {
    width: 50%;
    background-repeat: no-repeat;
}


/*photoboot*/

.photo-boot {
    background-color: #26272b;
}

.photo-boot h2 {
    color: #5780a4;
    text-align: center;
}


/*FOOTER*/

footer {
    background-color: #2b2c30;
    color: white;
    text-transform: uppercase;
}

footer p {
    padding-left: 20px;
    font-size: 12px;
}

p:hover {
    color: #42667d;
}

.phone{
    color: white;
}
.photolog{
    width: 80%;
}
img {
    width: 100%;
}
.thumbnail {
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 65px;
    width: 71%;
}
